body {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  list-style: none;
  margin: 0 0 10px 0;
  padding: 0;
}

li {
  flex: 1;
  margin: 0;
  padding: 0;
}
